body {
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}

header {
    width: 100%; /* 幅いっぱいを指定 */
    height: 50px; /* 高さを50pxに指定 */
    background: rgb(255, 255, 255); /* 背景色にグレーを指定 */
    padding: 20px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    display: flex; /* 中の要素を横並びにする */
    align-items: center; /* 中の要素を上下中央に並べる */
    border-bottom: solid 1px #5d627b;
    font-family: Courier;
}

header .gnav .menu {
    display: flex; /* 中の要素を横並びにする */
}

header .gnav .menu li {
    list-style: none; /* リストの[・]を消す */
}

header .gnav .menu li + li {
    margin-left: 40px; /* メニューそれぞれに間隔をあけるため */
}

h2.enc{
    border-bottom: solid 2px #5d627b;
    border-left: solid 10px #5d627b;
    padding: 10px 30px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
}

main {
    width: 1040px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.sidebar {
    width: 200px;
    margin-left:auto;
}

.wrap {
    width: 840px;
    margin-left: 30px;
    padding-bottom: 30px;
    border: #F8B042 0px solid;
    background-color: #fff;
    background-color: rgb(255, 255, 255);
}

.flex2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left:20px;
    justify-content: space-between;
    list-style: none;
}

.jump {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 3px;
    padding: 10px 10px; 
    width: 400px;
    
}
.jump .j {
    text-decoration: underline;
}
.jump .j:hover {
    text-decoration: underline;
    background-color: rgb(161, 161, 161);
}

.center {
    text-align:center;
}

a.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    -webkit-box-shadow: 4px 4px 0 #000;
    box-shadow: 4px 4px 0 #000;
    padding: 5px 20px; 
    margin-left:20px;
    width: 100px;
    text-align:center;
}
  
a.btn-border:hover {
    -webkit-box-shadow: -4px -4px 0 #000;
    box-shadow: -4px -4px 0 #000;
}